@model MovieGallery.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}

<h1>@Model.Title</h1>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

<h5>Genre: @Model.Genre</h5>
<h5>Director: @Model.Director</h5>
<h5>Writer: @Model.Writer</h5>
<h5>Studio: @Model.Studio</h5>
